.img_div1{
    height: 100%;
    width: 51%;
    margin-right: 20px;
    float: right;
}
.home_company_data{
    width: 30%;
    height: 95%;
    float: left;
    margin: 1%;

}

.home_company_data{
    font-size: 26px;
    line-height: 33px;
    color: #039695;
    font-weight: 700;
}
.home_company_data2{
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #999;
    text-transform: uppercase;
    margin-top: -20px;
}

.home_fontmanage{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #039695;
}

.home_fontmanage1{
    font-size: 38px;
    font-weight: 700;
}

.home_fontmanage2{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;

}

.home_button{
    background: #01bfbd;
    box-shadow: 0 4px 8px rgb(1 191 189 / 30%);
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    border: #01bfbd;
    outline: none;
    width: 290px;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
    margin-top: -10px;
}
.home_button:hover{
    background: #20918f;

}

.home_fontmanage3{
    font-size: 20px;
    font-weight: 600;
    color: #01bfbd;

}