.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 70px;
    right:10px;
    list-style: none;
    text-align: left;
  }

  .dropdown-menus {
    width: 190px;
    position: absolute;
    top: 70px;
    right:570px;
    background: white;
    list-style: none;
    text-align: left;
  }
  
  .dropdown-menu li { 
    background: white;
    box-shadow: 0px 0px 7px rgb(226, 226, 226);
    cursor: pointer;
    text-align: left;
  }
  
  .dropdown-menu li:hover {
    color: #01bfbd;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 16px 3px;
    color: black;
    text-align: left;

  }
  .dropdown-link:hover {
    color: #01bfbd;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }
  